<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Movieland{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <a class="invisible" href="/">
                <div class="header margin radius-bordered">
                    <h1>Movieland &trade;</h1>
                    <p class="sub-header general-text3">"Your Rental Movie Service"</p>
                </div>
            </a>
        {% endblock %}

        {% block navBar %}
            <div class="nav-bar-container margin radius-bordered">
                <ul class="nav-bar">
                    <li class="nav-bar-item"><a href="/"
                                                class="nav-bar-item general-text radius-bordered">Home</a></li>
                        {% if not app.Session.get("user")  %}
                        <li class="nav-bar-item"><a href="/login"
                                                    class="nav-bar-item general-text radius-bordered">Log in</a></li>
                        <li class="nav-bar-item"><a href="/register"
                                                    class="nav-bar-item general-text radius-bordered">Join us</a></li>
                        {% else %}
                            {% if app.Session.get("user").userType == constant('USER_TYPE_ADMIN', constants) %}
                            <li class="nav-bar-item"><a href="/admin"
                                                        class="nav-bar-item general-text radius-bordered">Admin Panel</a></li>
                            {% elseif app.Session.get("user").userType == constant('USER_TYPE_CLIENT', constants) %}
                            <li class="nav-bar-item"><a href="/account"
                                                        class="nav-bar-item general-text radius-bordered">Account Panel</a></li>
                            {% endif %}                        
                        <li class="nav-bar-item"><a href="/logout"
                                                    class="nav-bar-item general-text radius-bordered">Log out</a></li>
                        {% endif %}
                </ul>
            </div>
        {% endblock %}
        {% block userContent %}
        {% endblock %}

        {% block contentContainerDiv %}
            <div class="content-container margin radius-bordered general-text2">
            {% endblock %}
            {%block messageBlock %}
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <p class="flash-notice general-text2">
                        {{ flash_message }}
                    </p>
                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <p class="flash-error general-text2">
                        {{ flash_message }}
                    </p>
                {% endfor %}
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>
        <div style="clear:both;"></div>


        {% block footer %}
            <div class="footer radius-bordered margin general-text3">
                <p>
                    &copy; 2017 All rights reserved, developed by <a class="general-text"
                                                                     href="http://linkedin.com/in/migdress">Migdress</a>
                </p>
            </div>
        {% endblock %}
        <!-- 
        <form action="/registerAttempt" method="post">
                <tablestyle:"border:none;">
                        <tr>
                                <td>Id:</td>
                                <td><input type="text" name="id"></td>
                        </tr>
                        <tr>
                                <td>Name:</td>
                                <td><input type="text" name="name"></td>
                        </tr>
                        <tr>
                                <td>Last name:</td>
                                <td><input type="text" name="lastName"></td>
                        </tr>
                        <tr>
                                <td>Birthdate:</td>
                                <td><input type="text" name="birthdate"></td>
                        </tr>
                        <tr>
                                <td>Nationality:</td>
                                <td><input type="text" name="nationality"></td>
                        </tr>
                        </table>
                        <input type="submit" value="Register user">
        </form>
        </table>
        -->
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
