{% extends "base.html.twig" %}

{% block content %}
<h2 class="general-text">Welcome to Movieland</h2>
<br>
<p>Here at Movieland, you can rent all the movies from all genres
	you want for a 24 hours period</p>
<p>Please don't hesitate anymore and join us by clicking the button
	below</p>
<a href="/register" class="nav-bar-item general-text radius-bordered">Join
	us</a>
<p>Already a member? What are you waiting for!? please log in and
	enjoy all your benefits!</p>
<a href="/login" class="nav-bar-item general-text radius-bordered">Log
	in</a>
{% endblock %}