{% extends "base.html.twig" %}
{% block content %}
    <h2 class="general-text">Welcome! Login to your Movieland Account</h2>
    <br>
    <form action="{{ path('login_check') }}" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="_username" value="{{ last_username }}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="_password"></td>
            </tr>

            <tr>
                <td colspan="2"><input class="formTable general-text"
                                       type="submit" name="submit" value="Login">
            </tr>
        </table>
    </form>

{% endblock %}