{% extends "base.html.twig" %}
{% block content %}
<h2 class="general-text">Contact the administrator</h2>
<br>
<p>We are sorry, this application doesn't support the auto register
	from users, you need to contact the administrator to be registered</p>
{% endblock %}